.headlinePass{
    background-image: linear-gradient(90deg, #4668DB, #AF69B3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    background-clip: text;
    font-family: Avenir Next LT Pro Bold;
}

.headPass{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.underlinePass{
    width: 70px;
    height: 4px;
    background: #AF69B3;
    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerPass{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 550px;
    margin-top: 50px;
    background-color: white;
    border-radius: 9px;
    padding-bottom: 1px;
    align-items: center;
}

.inputPass{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #242424;
    border-radius: 9px;
}

.inputPass img{
    margin: 0px 30px;
}

.inputPass input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 19px;
    font-family: Avenir Next LT Pro ;
}

.submit-containerPass{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.submitPass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    color: #fff;
    background-image: linear-gradient(90deg, #4668DB, #AF69B3);
    border-radius: 9px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-family: Avenir Next LT Pro Bold;
}

.textfieldPass{
    padding-left: 10px;
    margin-top: 27px;
    padding-top: 18px;
    color: grey;
    font-size: 14px;
    align-items: center;
    margin: auto;
    font-family: Avenir Next LT Pro;
}