@import "./fonts/fonts.css";

.changeButton {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 5px;
  background-color: #242424;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #282828;
}

.box {
  background-color: #121212;
  height: 67%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 20px;
}

.elements {
  font-family: "Avenir Next LT Pro Bold", sans-serif;
  background-color: #242424;
  color: #fff;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 5px;
  width: 97%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .elementsAmount {
    font-size: x-large;
    padding-right: 40px;
  }
}

.elementsDetails {
  display: flex;
  height: 60px;
  margin: 10px 10px;
  padding: 10px 10px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .elementsDetailsName {
    font-size: x-large;
    padding-top: 5px;
  }

  .elementsDetailsBox {
    font-family: "Avenir Next LT Pro", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;

    .elementsDetailsBoxCategory {
      padding-right: 10px;
    }
  }
}
